YT_CHANNEL_ID= # youtube advanced settings (profile -> settings -> advanced settings -> channel ID)
YT_FETCH_LIMIT=100
YT_POLL_INTERVAL_SEC=60 # api call interval in seconds
YT_TEXT_FORMAT=plainText # default is html
YT_MIN_COMMENT_AGE_SEC=180 # ignore fresh comments
YT_QUOTA_DAILY_LIMIT=10000
YT_QUOTA_STOP_PERCENT=0.9
ENABLE_REPLY_SCAN=true # whether or not to check replies as well
MODERATION_BATCH_SIZE=2 # delete simultaneously
DRY_RUN=false # test mode

TG_BOT_TOKEN= # on bot creation (via BotFather)
TG_ADMIN_CHAT_ID= # get via curl -s "https://api.telegram.org/bot{TG_BOT_TOKEN}/getUpdates"

PROCESSED_TTL_DAYS=30 # processed comments
AUDIT_TTL_DAYS=30 # event log
STOP_WORDS_FILE=/home/naganai/ytbot/stop_words.txt
SQLITE_PATH=/home/naganai/ytbot/state.sqlite # path to database
CLIENT_SECRET_PATH=/home/naganai/ytbot/client_secret_test.json # get from google cloud
TOKEN_PATH=token.json # create upon bot launch